.drives-component-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p {
        margin: 0;
        padding: 0;
    }

    .search-container {
        background: #FFFFFF;
        box-shadow: 0px 0px 14px -1px #E5E5E5;
        border-radius: 5px;
        border: none;
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;

        .search-bar {
            width: 100%;
            border: none;
            font-size: 1rem;
            color: #444;
            margin-left: 10px;
            outline: none;
            &::placeholder {
                color: rgba($color: #000000, $alpha: 0.2);
            }
        }
    }

    .drives-list-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        justify-content: space-evenly;

        .section-title {
            font-size: 1.2rem;
            font-weight: 600;
            color: #444;
            margin-left: 20px;
            margin-top: 20px;
        }

        .table {
            width: 95%;
            margin: 15px auto;
            .table-body {
                .upgrade-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 5px 15px;
                    border-radius: 20px;
                    cursor: pointer;
                    align-self: center;
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}


@media (max-width: 700px) {
    .drives-component-container {
        padding: 10px;
       
    }
}