.apply-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #dbe9ff;
    min-height: 100vh;

    p {
        padding: 0;
        margin: 0;
    }

    .back-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            width: 200px;
            margin-left: 10px;
        }
    }

    .form-button-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        margin-top: 20px;

        .job-detail-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
    
            .section-title {
                font-size: 1.2rem;
                font-weight: 700;
                color: #444;
                margin-left: 20px;
            }
    
            .left-field {
                grid-column: 1 / 2;
            }
            .right-field {
                grid-column: 2 / 3;
            }
            .ete-field {
                grid-column: 1 / 3;
            }
    
            .field-container {
                margin-top: 15px;
                .tag {
                    font-size: 0.9rem;
                    color: #444;
                    font-weight: 500;
                }
                .field {
                    font-size: 1rem;
                    color: #444;
                    background: #ffffff;
                    box-shadow: 0px 0px 14px -1px #e5e5e5;
                    border-radius: 5px;
                    border: none;
                    font-weight: 600;
                    &::placeholder {
                        color: rgba($color: #000000, $alpha: 0.2);
                    }
                }
                .error-tag {
                    font-size: 0.7rem;
                    color: #ff5c00;
                }
            }
        }
        .button {
            border: none;
            background-color: #3761ee;
            color: #ffffff;
            padding: 5px 30px;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 600;
            margin-top: 30px;
            margin-bottom: 50px;
            width: 50%;
            margin-left: 25%;
        }
    }
}

@media (max-width: 700px) {
    .apply-container {
        padding: 20px;
        .back-logo-container {
    
            .logo {
                width: 150px;
                margin-left: 0;
            }
        }
        .form-button-container {
    
            .job-detail-container {
                .left-field {
                    grid-column: 1 / 3;
                }
                .right-field {
                    grid-column: 1 / 3;
                }
                .ete-field {
                    grid-column: 1 / 3;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .apply-container {
        padding: 10px;
        .back-logo-container {
    
            .logo {
                width: 150px;
                margin-left: 0;
            }
        }
        .form-button-container {
    
            .job-detail-container {
                .left-field {
                    grid-column: 1 / 3;
                }
                .right-field {
                    grid-column: 1 / 3;
                }
                .ete-field {
                    grid-column: 1 / 3;
                }
            }
            .button {
                width: 70%;
                margin-left: 15%;
            }
        }
    }
}