.placement-stats-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    .grid-with-title-title {
        text-align: center;
        font-weight: 600;
    }
    .placement-stats-list-container {
        display: flex;
        margin-top: 30px;
        overflow-x: scroll;
        .testimonials-list-content {
            margin-right: 40px;
            .testimonials-image {
                height: 350px;
            }
        }
    }
}