.login-page-container {
    .login-page-content {
        width: 90%;
        margin: 0 auto;

        .logo {
            width: 200px;
            margin: 20px 0;
            cursor: pointer;
        }
    }

    .login-hero-container {
        background-color: #004aad;
        display: flex;
        .illustration-container {
            flex: 0.7;
            display: flex;
            justify-content: center;
            align-items: center;
            .welcome-illustration {
                height: 500px;
                width: 90%;
                object-fit: contain;
                margin-left: 40px;
            }
        }

        .login-form-container {
            display: flex;
            flex-direction: column;
            flex: 0.3;
            align-self: center;
            background-color: white;
            margin: 100px 50px;
            border-radius: 10px;
            padding: 15px 0;

            .welcome-tag {
                color: #444;
                font-weight: 500;
                font-size: 1.5rem;
                padding: 0 15px;
                margin: 0;
            }
            .sub-tag {
                color: #444;
                font-weight: 400;
                font-size: 1.1rem;
                margin: 0;
                margin-top: 2px;
                padding: 0 15px;
            }
            .form-container {
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                padding: 0 15px;

                .field-container {
                    margin-top: 15px;
                    .tag {
                        font-size: 0.9rem;
                        color: #000;
                        font-weight: 500;
                    }
                    .field {
                        font-size: 1rem;
                        color: #444;
                        background: #ffffff;
                        box-shadow: 0px 0px 14px -1px #e5e5e5;
                        border-radius: 5px;
                        border: none;
                        &::placeholder {
                            color: rgba($color: #000000, $alpha: 0.2);
                        }
                    }
                    .error-tag {
                        font-size: 0.7rem;
                        color: #ff5c00;
                    }
                }
            }
            .buttons-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;
                padding: 0 15px;

                .login-button {
                    border: none;
                    background-color: #3761ee;
                    color: #ffffff;
                    padding: 5px 30px;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .secondary-button {
                    font-size: 0.9rem;
                    color: #3761ee;
                    cursor: pointer;
                }
            }

            .bar {
                width: 100%;
                height: 3px;
                background-color: #f0f3f7;
                margin-top: 30px;
            }

            .signup-container {
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                padding: 0 15px;
                .question {
                    font-size: 0.9rem;
                    color: #444;
                    cursor: pointer;
                }
                .secondary-button {
                    font-size: 0.9rem;
                    color: #3761ee;
                    cursor: pointer;
                    margin-left: 3px;
                    text-decoration: underline;
                }
            }
        }
    }

    .login-feature-container {
        width: 90%;
        margin: 0 auto;
        background-image: url("../../assets/testimonials-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
        .feature-image {
            width: 100%;
            height: 600px;
            object-fit: contain;
            margin: 40px 0;
            box-shadow: 2px 2px 20px #b8b8b8;
            background-color: white;
            border-radius: 10px;
        }
    }

    .with-pattern-background {
        background-image: url("../../assets/testimonials-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 1407px) {
    .login-page-container {
        .login-hero-container {
            background-color: #004aad;
            display: flex;
            .illustration-container {
                flex: 0.6;
            }

            .login-form-container {
                flex: 0.4;
            }
        }
        .login-feature-container {
            .feature-image {
                height: 500px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .login-page-container {
        .login-hero-container {
            background-color: #004aad;
            display: flex;
            flex-direction: column;
            .illustration-container {
                flex: 0.5;
                .welcome-illustration {
                    height: 200px;
                    width: 90%;
                    object-fit: contain;
                    margin-left: 0;
                }
            }

            .login-form-container {
                flex: 0.5;
                margin-top: 0;
            }
        }
        .login-feature-container {
            .feature-image {
                height: 400px;
            }
        }
    }
}


@media (max-width:800px) {
    .login-page-container {
        
        .login-feature-container {
            .feature-image {
                height:300px;
            }
        }
    }
}