.assessment-result-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p {
        margin: 0;
        padding: 0;
    }

    .drives-list-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        justify-content: space-evenly;

        .section-title {
            font-size: 1.2rem;
            font-weight: 600;
            color: #444;
            margin-left: 20px;
            margin-top: 20px;
        }

        .no-drive {
            color: #ccc;
            font-weight: 600;
            font-size: 1rem;
            text-align: center;
            align-self: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .table {
            width: 95%;
            margin: 15px auto;
            .table-body {
                .upgrade-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 5px 15px;
                    border-radius: 20px;
                    cursor: pointer;
                    align-self: center;
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .assessment-result-container {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .assessment-result-container {
        padding: 10px;
    }
}