.upgrade-plan-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #dbe9ff;
    min-height: 100vh;

    p {
        padding: 0;
        margin: 0;
    }

    .back-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            width: 200px;
            margin-left: 10px;
        }
    }
    .title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #444;
        margin-top: 20px;
    }
    .sub-title {
        font-size: 1rem;
        font-weight: 500;
        color: #444;
    }

    .plans-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
        margin-top: 20px;

        .plan-container {
            display: flex;
            flex-direction: column;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;

            .plan-image {
                width: 70px;
                height: 70px;
                align-self: center;
            }
            .plan-name {
                font-size: 1.4rem;
                color: #444;
                font-weight: 700;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 15px;
            }
            .feature-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 5px;
                .check {
                    width: 20px;
                    height: 20px;
                }
                .feature-tag {
                    font-size: 1rem;
                    color: #444;
                    font-weight: 500;
                    margin-left: 5px;
                }
            }
            .submit-button {
                border: none;
                background-color: #3761ee;
                color: #ffffff;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 600;
                align-self: center;
                margin-top: 30px;
                margin-bottom: 50px;
            }
        }
    }
}

@media (max-width: 700px) {
    .upgrade-plan-container {
        padding: 10px;
        .back-logo-container {
    
            .logo {
                width: 150px;
                margin-left: 0;
            }
        }
    }
}
