.sidebar-navigation-container {
    user-select: none;
    .option-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        margin: 0 20px;
        border-radius: 10px;
        cursor: pointer;
        padding: 5px 0;
        padding-left: 20px;
        margin-top: 20px;
        .option-container-title {
            margin-left: 15px;
            margin-top: 8px;
            font-size: 17px;
            font-weight: 600;
        }
    }

    .selected-option-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        background-color: #3762ee1e;
        margin: 0 20px;
        border-radius: 10px;
        cursor: pointer;
        padding: 5px 0;
        padding-left: 20px;
        margin-top: 20px;
        .option-container-title {
            color: #3761EE;
            font-weight: 600;
            margin-left: 15px;
            margin-top: 8px;
            font-size: 17px;
        }
    }
}