.take-assessment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p{
        padding: 0;
        margin: 0;
    }

    .title-list-container {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-top: 20px;
        padding-bottom: 30px;

        .tab-container {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            margin-left: 20px;
    
            .selected {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 20px;
                border-radius: 20px;
                cursor: pointer;
                margin-right: 20px;
            }
            .unselected {
                border: #3761EE 2px solid;
                background-color: #fff;
                color: #3761EE;
                padding: 5px 20px;
                border-radius: 20px;
                cursor: pointer;
                margin-right: 20px;
                font-weight: 600;
            }
        }

        .section-title {
            font-size: 1.2rem;
            font-weight: 700;
            color: #444;
            margin-left: 20px;
            margin-top: 20px;
        }

        .course-list-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .course-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 150px;
                cursor: pointer;
                margin: 20px 10px;

                .logo-container {
                    width: 130px;
                    height: 130px;
                    border-radius: 130px;
                    background-color: #F7F9FC;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .course-logo {
                        width: 80px;
                        height: 80px;
                    }
                }
                .course-name {
                    font-size: 1rem;
                    color: #444;
                    font-weight: 600;
                    text-align: center;
                    margin-top: 15px;
                    width: 130px;
                }
            }
        }
    }
}


@media (max-width: 700px) {
    .take-assessment-container {
        padding: 10px;

        .title-list-container {
            .tab-container {
                flex-direction: column;
                .selected {
                    width: 70%;
                    margin-right: 0;
                    margin-bottom: 10px;
                }
                .unselected {
                    width: 70%;
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
    
            .section-title {
                margin-right: 20px;
            }
        }
    }
}

