.how-to-land-job-container {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    .land-job-illustration-container {
        background-color: #5986ad;
        flex: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .section-title {
            text-align: center;
            color: white;
            font-weight: bold;
            margin: 0 30px;
        }
        .land-dream-job {
            width: 300px;
            margin-top: 40px;
        }
    }

    .land-job-content {
        flex: 0.65;
        background-color: #f1f6f9;
        padding-right: 50px;
        .steps-container {
            margin: 30px 0;
            margin-left: -30px;
            .steps {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                .steps-index {
                    min-width: 80px;
                    min-height: 80px;
                    font-size: 2rem;
                    font-weight: bold;
                    border: 2px solid #3d5a6c;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    color: #3edad8;
                    background-color: white;
                }
                .steps-info {
                    font-size: 1.2rem;
                    margin-left: 10px;
                    margin-top: 15px;
                }
            }
        }
    }
}


@media (max-width:1200px) {
    .how-to-land-job-container {
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        .land-job-illustration-container {
            .section-title {
               font-size: 1.2rem;
            }
            .land-dream-job {
                width: 200px;
                margin-top: 40px;
            }
        }
    }
}

@media (max-width:710px) {
    .how-to-land-job-container {
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        .land-job-illustration-container {
            .section-title {
               font-size: 1.2rem;
            }
            .land-dream-job {
                width: 140px;
                margin-top: 40px;
            }
        }
    }
}

@media (max-width:600px) {
    .how-to-land-job-container {
        display: flex;
        flex-direction: column;
        .land-job-illustration-container {
            padding: 20px 0;
            .section-title {
                text-align: center;
                color: white;
                font-weight: bold;
                margin: 0 30px;
            }
            .land-dream-job {
                width: 100px;
                margin-top: 10px;
            }
        }

        .land-job-content {
            flex: 0.65;
            background-color: #f1f6f9;
            padding-right: 50px;
            .steps-container {
                margin: 30px 0;
                margin-left: 30px;
                .steps {
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    .steps-index {
                        min-width: 60px;
                        min-height: 60px;
                        
                    }
                    .steps-info {
                        font-size: 1rem;
                        margin-left: 10px;
                        margin-top: 15px;
                    }
                }
            }
        }
    
    }
}