.carousel-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 5px;

    .image-container {
        width: 100%;
        height: 100%;
        .image {  
            object-fit: cover;
        }
    }
}