.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #dbe9ff;
    min-height: 100vh;

    p {
        padding: 0;
        margin: 0;
    }

    .back-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            width: 200px;
            margin-left: 10px;
        }
    }

    .form-button-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        margin-top: 20px;

        .job-detail-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
    
            .section-title {
                font-size: 1.2rem;
                font-weight: 700;
                color: #444;
                margin-left: 20px;
            }

            .image-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                .profile-picture {
                    width: 100px;
                    height: 100px;
                    border-radius: 100px;
                    border: #3761EE solid 2px;
                    align-self: center;
                    cursor: pointer;
                } 
                .picture-tag {
                    color: #838383;
                    font-size: 0.8rem;
                    font-weight: 600;
                    margin-top: 10px;
                    cursor: pointer;
                }  
            }
    
            .left-field {
                grid-column: 1 / 2;
            }
            .right-field {
                grid-column: 2 / 3;
            }
            .ete-field {
                grid-column: 1 / 3;
            }
    
            .field-container {
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                .tag {
                    font-size: 0.9rem;
                    color: #444;
                    font-weight: 500;
                }
                .field {
                    font-size: 1rem;
                    color: #444;
                    background: #ffffff;
                    box-shadow: 0px 0px 14px -1px #e5e5e5;
                    border-radius: 5px;
                    border: none;
                    font-weight: 600;
                    &::placeholder {
                        color: rgba($color: #000000, $alpha: 0.2);
                    }
                }
                .error-tag {
                    font-size: 1rem;
                    color: #3761ee;
                    font-weight: 600;
                    align-self: flex-end;
                    text-decoration: underline;
                    margin-top: 10px;
                    cursor: pointer;
                }
            }
            .button {
                border: none;
                background-color: #3761ee;
                color: #ffffff;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 600;
                margin-top: 30px;
                margin-bottom: 30px;
                width: 40%;
                margin-left: 30%;
            }
            .download-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
                cursor: pointer;
        
                .download-tag {
                    font-size: 1.1rem;
                    font-weight: 700;
                    color: #3761EE;
                    margin-left: 10px;
                    text-decoration: underline;
                }
            }
        }
        

        
    }
}

@media (max-width: 700px) {
    .profile-container {
        padding: 20px;
        .back-logo-container {
            .logo {
                width: 150px;
                margin-left: 0;
            }
        }
    
        .form-button-container {
            .job-detail-container {
                .left-field {
                    grid-column: 1 / 3;
                }
                .right-field {
                    grid-column: 1 / 3;
                }
                .ete-field {
                    grid-column: 1 / 3;
                }
            }
            
        }
    }
}

@media (max-width: 500px) {
    .profile-container {
        padding: 10px;
        .back-logo-container {
            .logo {
                width: 150px;
                margin-left: 0;
            }
        }
    
        .form-button-container {
            .job-detail-container {
                .left-field {
                    grid-column: 1 / 3;
                }
                .right-field {
                    grid-column: 1 / 3;
                }
                .ete-field {
                    grid-column: 1 / 3;
                }
                .button {
                    width: 70%;
                    margin-left: 15%;
                }
            }
            
        }
    }
}