.manage-resume-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p{
        padding: 0;
        margin: 0;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .name-plan-container {
            .name {
                font-size: 1.3rem;
                font-weight: 600;
                color: #444;
            }
            .plan-upgrade-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                .plan {
                    font-size: 1.1rem;
                    color: #52E1E2;
                    font-size: 600;
                }
                .upgrade-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 3px 7px;
                    border-radius: 20px;
                    cursor: pointer;
                    align-self: center;
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }
        .profile-picture {
            border-radius: 80px;
            border: #3761EE solid 3px;
        }
    }

    .download-form-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-top: 20px;

        .download-container {
            display: flex;
            flex-direction: row;
            align-self: flex-end;
            margin-bottom: 15px;
            cursor: pointer;
    
            .download-tag {
                font-size: 0.9rem;
                font-weight: 600;
                color: #3761EE;
                margin-left: 10px;
            }
        }

        .resume-form-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;

            .section-title {
                font-size: 1rem;
                font-weight: 600;
                color: #444;
                margin-top: 20px;
            }

            .subtitle-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .subtitle {
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: #444;
                    margin-top: 10px;
                }
                .add-button {
                    font-size: 1rem;
                    font-weight: 600;
                    color: #3761EE;
                    margin-top: 10px;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
    
            .left-field {
                grid-column: 1 / 2;
            }
            .right-field {
                grid-column: 2 / 3;
            }
            .ete-field {
                grid-column: 1 / 3;
            }
            
            .field-container {
                margin-top: 15px;
                .tag {
                    font-size: 0.9rem;
                    color: #444;
                }
                .field {
                    font-size: 1rem;
                    color: #444;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 14px -1px #E5E5E5;
                    border-radius: 5px;
                    border: none;
                    &::placeholder {
                        color: rgba($color: #000000, $alpha: 0.2);
                    }
                }
                .error-tag {
                    font-size: 0.7rem;
                    color: #FF5C00;
                }
            }

            .table-heading {
                margin-bottom: 0px;
                margin-top: 10px;
            }
        }
    }

    .submit-button {
        border: none;
        background-color: #3761EE;
        color: #FFFFFF;
        padding: 5px 30px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 50%;
        margin-left: 25%;
    }
}


@media (max-width:800px) {
    .manage-resume-container {
        .download-form-container {
            .resume-form-container {
                .left-field {
                    grid-column: 1 / 3;
                }
                .right-field {
                    grid-column: 1 / 3;
                }
                .ete-field {
                    grid-column: 1 / 3;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .manage-resume-container {
        padding: 10px;
        .download-form-container {
            .download-container {
                display: none;
            }

        }
    }
}