.simple-grid-with-list {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    .grid-with-title-title {
        text-align: center;
        font-weight: 600;
    }

    .grid-list-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        margin-top: 30px;
        grid-gap: 20px;
        justify-items: center;
        align-content: center;
        .list-image {
            max-width: 70px;
        }
    }
}