.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        margin: 0;
        padding: 0;
    }

    .name-plan-container {
        .name {
            font-size: 1.3rem;
            font-weight: 700;
            color: #444;
        }
        .plan-upgrade-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            .plan {
                font-size: 1.1rem;
                color: #52E1E2;
                font-size: 600;
            }
            .upgrade-button {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 3px 7px;
                border-radius: 20px;
                cursor: pointer;
                align-self: center;
                margin-left: 10px;
                font-size: 0.8rem;
            }
        }
    }
    .dropdown-image-container {
        .image-container {
            .profile-picture {
                border-radius: 100px;
                border: #3761EE solid 3px;
            }
        }
    }
    
}