.dashboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p {
        margin: 0;
        padding: 0;
    }

    .stats-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 20px;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        justify-content: space-evenly;

        .tag-data-container {
            
            display: flex;
            flex: 1;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            

            .tag {
                font-weight: 500;
                color: rgb(107, 107, 107);
                font-size: 0.8rem;
            }
            .data {
                font-weight: 700;
                color: #444;
                font-size: 1.5rem;
            }
            .conclusion {
                font-weight: 600;
                color: rgb(13, 182, 22);
                font-size: 1rem;
                text-align: end;
                margin-top: 10px;
                width: 100%;
            }
        }
        .stat-bar {
            width: 2px;
            height: 80px;
            background-color: #F0F3F7;
            border-radius: 10px;
            margin-left: 30px;
            margin-right: 30px;
        }
    }
    .skill-test-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        grid-gap: 20px;
        
        .take-assessment-container-dash {
            flex: 0.5;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 10px;
            padding-bottom: 15px;
        }

        .section-title {
            font-size: 1rem;
            font-weight: 700;
            color: #444;
            margin-left: 20px;
            margin-top: 20px;
        }
    }

    .skill-badge-container {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        max-height: 350px;
        margin-top: 20px;

        .section-title {
            font-size: 1rem;
            font-weight: 700;
            color: #444;
            margin-left: 20px;
            margin-top: 20px;
        }

        .result-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px;
            overflow-x: scroll;

            .no-badges {
                color: #ccc;
                font-weight: 600;
                font-size: 0.8rem;
                text-align: center;
                align-self: center;
            }
            
            .result-arch {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                margin-right: 50px;
                width: 140px;
                margin-top: 10px;

                .result-back {
                    width: 100px;
                    height: 100px;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .result-badge {
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                }
                .result-course {
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: #444;
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
    }
    .drives-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        justify-content: space-evenly;

        .section-title {
            font-size: 1rem;
            font-weight: 700;
            color: #444;
            margin-left: 20px;
            margin-top: 20px;
        }

        .table {
            width: 95%;
            margin: 15px auto;
            
            .table-body {
                .upgrade-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 5px 15px;
                    border-radius: 20px;
                    cursor: pointer;
                    align-self: center;
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}



@media (max-width: 700px) {
    .dashboard-container {
        padding: 10px;
        .stats-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            
        }
    }
}


@media (max-width: 600px) {
    .dashboard-container {
        .skill-test-container {
            display: flex;
            flex-direction: column;
            .take-assessment-container-dash {
                margin-top: 30px;
            }

            .skill-badge-container {
                flex: 1;
                width: 100%;
                margin-right: 0;
            }
        }
    }
}