.footer-container {
    background-color: #1D73D6;
    color: white;
    margin-top: 100px;
    p{
        margin: 0;
        padding: 0;
    }
    .footer-content {
        width: 90%;
        margin: 0 auto;
        padding: 50px 0;
       
        .top-container {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            .footer-data {
                .footer-data-title {
                    margin-bottom: 20px;
                }
                .footer-data-para {

                }
                .footer-data-list {
                    .footer-data-list-item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        .footer-data-list-item-name{
                            margin: 0;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }

        .bottom-container {
            margin-top: 30px;
        }
    }
}
