.link-college-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p {
        margin: 0;
        padding: 0;
    }

    .form-button-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;

        .section-title {
            font-size: 1rem;
            font-weight: 600;
            color: #444;
            margin-top: 20px;
        }
        .link-form-container {            
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
    
            .subtitle-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .subtitle {
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: #444;
                    margin-top: 10px;
                }
                .add-button {
                    font-size: 1rem;
                    font-weight: 600;
                    color: #3761EE;
                    margin-top: 10px;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
    
            .left-field {
                grid-column: 1 / 2;
            }
            .right-field {
                grid-column: 2 / 3;
            }
            .ete-field {
                grid-column: 1 / 3;
            }
            
            .field-container {
                margin-top: 15px;
                .tag {
                    font-size: 0.9rem;
                    color: #444;
                }
                .field {
                    font-size: 1rem;
                    color: #444;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 14px -1px #E5E5E5;
                    border-radius: 5px;
                    border: none;
                    &::placeholder {
                        color: rgba($color: #000000, $alpha: 0.2);
                    }
                }
                .error-tag {
                    font-size: 0.7rem;
                    color: #FF5C00;
                }
            }
        }
        .primary {
            border: none;
            background-color: #3761EE;
            color: #FFFFFF;
            padding: 5px 30px;
            border-radius: 5px;
            cursor: pointer;
            align-self: center;
            margin-top: 30px;
            margin-bottom: 50px;
            width: 50%;
            margin-right: 25%;
            margin-left: 25%;
        }
    }
}

@media (max-width: 700px) {
    .link-college-container {
        padding: 20px;
    
        .form-button-container {
            padding: 20px;
    
            .link-form-container {  
                .left-field {
                    grid-column: 1 / 3;
                }
                .right-field {
                    grid-column: 1 / 3;
                }
                .ete-field {
                    grid-column: 1 / 3;
                }
            }
            .primary {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                align-self: center;
                margin-top: 30px;
                margin-bottom: 50px;
                width: 50%;
                margin-right: 25%;
                margin-left: 25%;
            }
        }
    }
}

@media (max-width: 500px) {
    .link-college-container {
        padding: 10px;
    
        .form-button-container {
            padding: 20px;
    
            .link-form-container {  
                .left-field {
                    grid-column: 1 / 3;
                }
                .right-field {
                    grid-column: 1 / 3;
                }
                .ete-field {
                    grid-column: 1 / 3;
                }
            }
            .primary {
                width: 70%;
                margin-left: 15%;
            }
        }
    }
}