.signup-page-container {
    width: 100%;
    min-height: 100vh;
    background-color: #dbe9ff;
    padding: 30px;
    display: flex;
    flex-direction: column;

    p {
        padding: 0;
        margin: 0;
    }

    .logo {
        width: 200px;
    }

    .signup-form-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-self: center;
        background-color: white;
        margin-top: 50px;
        border-top: 5px solid #3761ee;
        padding: 15px 0;

        .welcome-tag {
            color: #444;
            font-weight: 500;
            font-size: 1.5rem;
            padding: 0 15px;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            padding: 0 15px;
            .field-sub-container {
                display: flex;
                flex-direction: row;

                .field-container {
                    margin-top: 15px;
                    flex: 0.5;
                    .tag {
                        font-size: 0.9rem;
                        color: #444;
                    }
                    .field {
                        font-size: 1rem;
                        color: #444;
                        background: #ffffff;
                        box-shadow: 0px 0px 14px -1px #e5e5e5;
                        border-radius: 5px;
                        border: none;
                        &::placeholder {
                            color: rgba($color: #000000, $alpha: 0.2);
                        }
                    }
                    .error-tag {
                        font-size: 0.7rem;
                        color: #ff5c00;
                    }
                }
            }

            .field-container {
                margin-top: 15px;
                .tag {
                    font-size: 0.9rem;
                    color: #444;
                }
                .field {
                    font-size: 1rem;
                    color: #444;
                    background: #ffffff;
                    box-shadow: 0px 0px 14px -1px #e5e5e5;
                    border-radius: 5px;
                    border: none;
                    &::placeholder {
                        color: rgba($color: #000000, $alpha: 0.2);
                    }
                }
                .error-tag {
                    font-size: 0.7rem;
                    color: #ff5c00;
                }
            }
        }
        .login-button {
            border: none;
            background-color: #3761ee;
            color: #ffffff;
            padding: 5px 30px;
            width: 30%;
            border-radius: 5px;
            cursor: pointer;
            align-self: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 800px) {
    .signup-page-container {
        padding: 25px;

        .logo {
            width: 180px;
        }

        .signup-form-container {
            width: 70%;
            margin-top: 40px;
            .login-button {
                width: 40%;
            }
        }
    }
}

@media (max-width: 600px) {
    .signup-page-container {
        padding: 20px;

        .logo {
            width: 160px;
        }

        .signup-form-container {
            width: 70%;
            margin-top: 40px;

            .welcome-tag {
                font-size: 1.3rem;
            }

            .login-button {
                width: 50%;
            }
        }
    }
}

@media (max-width: 450px) {
    .signup-page-container {
        padding: 15px;

        .logo {
            width: 150px;
        }

        .signup-form-container {
            width: 80%;
            margin-top: 30px;

            .welcome-tag {
                font-size: 1.1rem;
            }

            .form-container {
                .field-sub-container {
                    .field-container {
                        .tag {
                            font-size: 0.8rem;
                        }
                        .field {
                            font-size: 0.9rem;
                        }
                    }
                }

                .field-container {
                    .tag {
                        font-size: 0.8rem;
                    }
                    .field {
                        font-size: 0.9rem;
                    }
                }
            }
            .login-button {
                font-size: 0.9rem;
                padding: 5px 20px;
                width: 70%;
            }
        }
    }
}
