.test-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    p {
        padding: 0;
        margin: 0;
    }

    .side-bar-container {
        display: flex;
        flex: 0.2;
        flex-direction: column;
        background-color: #fff;

        .logo {
            width: 150px;
            margin: 20px;
        }
        .detail-tag {
            font-size: 1rem;
            color: #444;
            font-weight: 500;
            margin-top: 10px;
            padding: 0 20px;
        }
        .detail-value {
            font-size: 1rem;
            color: #444;
            font-weight: 700;
            padding: 0 20px;
        }
        .timer {
            font-size: 1.5rem;
            color: #d92727;
            font-weight: 700;
            padding: 0 20px;
        }
        .result-container {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            background-color: #dbe9ff;
            padding: 0 20px 10px;
            .result-tag {
                font-size: 1.2rem;
                color: #3761ee;
                font-weight: 600;
                margin-top: 10px;
            }
            .result-value {
                font-size: 1.2rem;
                color: #3761ee;
                font-weight: 700;
            }
        }
    }

    .header-test-container {
        flex: 0.8;
        background-color: #dbe9ff;
        padding: 20px;

        .responsive-header-container {
            display: unset;
        }

        .questions-container {
            margin-top: 20px;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            width: 100%;

            .section-title {
                font-size: 1.2rem;
                font-weight: 600;
                color: #444;
            }
            .form-container {
                margin-top: 10px;
                width: 100%;
                display: flex;
                flex-direction: column;
                .question-answer-container {
                    margin-top: 30px;
                    border: 1px #c2c2c2 solid;
                    border-radius: 5px;
                    padding: 10px;
                    .question {
                        font-size: 1rem;
                        font-weight: 700;
                        color: #444;
                        border: none;
                        height: min-content ;
                        min-width: 100%
                        ;
                    }
                    .option-container {
                        .options {
                            font-size: 1rem;
                            font-weight: 500;
                            color: #444;
                        }
                    }
                    .result {
                        font-size: 0.9rem;
                        font-weight: 600;
                    }
                }
            }
            .submit-button {
                border: none;
                background-color: #3761ee;
                color: #ffffff;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 30px;
                margin-bottom: 20px;
                width: 40%;
                margin-left: 30%;
            }
        }
    }
    .no-internet-container {
        display: flex;
        flex: 0.8;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;

        .offline-image {
            width: 100px;
            height: 100px;
        }
        .offline-tag {
            color: #444;
            font-weight: 600;
            font-size: 1.2rem;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        .offline-subtag {
            color: #444;
            font-weight: 500;
            font-size: 1rem;
        }
    }
}

@media (max-width:1000px) {
    .test-container {
        .side-bar-container {
            flex: 0.3;
        }

        .header-test-container {
            flex: 0.7;
        }
    }
}



@media (max-width:700px) {
    .test-container {
        .side-bar-container {
            flex: 0.4;
        }

        .header-test-container {
            flex: 0.6;
        }
    }
}

@media (max-width:550px) {
    .test-container {
        flex-direction: column;
        .side-bar-container {
            flex: 0.4;
        }

        .header-test-container {
            flex: 0.6;
            .responsive-header-container {
                display: none;
            }
        }
    }
}
